<!--base.html을 아웃라인으로 사용하기 위해서는 이 파일에 base를 확장시켜주어야 한다.아래와 같이 선언해준다-->
{% extends 'base.html' %}


{% block page_title %}
Home
{% endblock page_title %}


{% block content %}
{% for room in rooms  %}
<!--위 rooms는 views.py 내의 context_object_name = "rooms" 로 인해 object_list라고 칭하는 대신 rooms로 불러 오는 것임-->
<!--ListView 가 실행되는 동안 self.object_list는 objects의 목록을 포함하고 있으므로, 우리가 바로 액세스 가능하다. (11.7)-->
<h3>
    <!-- 아래와 같은 url tag 쓰는 법 12.0 필기 참고-->
    <a href="{% url "rooms:detail" room.pk %}">
        {{room.name}} / ${{room.price}}
    </a>
</h3>
{% endfor %}

<h5>
    <!-- page+1 로 바로 쓰지 못한다. django tag 중 filter tag 안의 add 를 활용한다. -->
    {% if page_obj.has_previous %}
    <!--rooms 는 views.py 내의 rooms라 선언한 paginator에서 온 페이지임.-->
    <a href="?page={{page_obj.previous_page}}"> Previous </a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}} "> Next </a>"
    {% endif %}

</h5>
<!-- for 문안에 range()를 바로 작성하는 것은 지원하지 않으므로 , view.py 안의 context 에 변수로서 전달하여 사용 해야 한다.-->
{% endblock content %}