{% extends 'base.html' %}

{% block page_title %}
Search
{% endblock page_title %}


{% block search_bar %}

{% endblock search_bar %}


{% block content %}
<h2> Search! </h2>

<form method="get" action="{% url "rooms:search" %}">
    <div>
        <label for="city"> City </label>
        <input value={{city}} id="cityn" name="city" placeholder="Searching by City">
    </div>

    <div>
        <label for="country"> Country </label>
        <select id="country" name="country">
            {% for country in countries %}
            <!-- country.code => united states 를 US 라는 국가 코드로 뜨게 함-->
            <option value="{{country.code}}" {% if country.code == selected_country %} selected {% endif %}>
                {{country.name}}
            </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="room_type">Room Type </label>
        <select id="room_type" name="room_type">
            <option value="0" {% if selected_room_type == 0 %} selected {% endif %}>Any type</option>
            {% for room_type in room_types %}
            <!--room_type.pk 를 함으로서 &room_type = shard_room 이라고 뜨는게 &room_type=1로 변경-->
            <option value="{{room_type.pk}}" {% if selected_room_type == room_type.pk %} selected {% endif %}>
                {{room_type.name}} </option>
            {% endfor %}

        </select>
    </div>
    <div>
        <label for="price"> Price </label>
        <input value="{{price}}" type="number" name="price" id="price" placeholder="Price" />
    </div>

    <div>
        <label for="guests"> Guests </label>
        <input value="{{guests}}" type="number" name="guest" id="guest" placeholder="Guest" />
    </div>

    <div>
        <label for="bedrooms"> Bed Rooms </label>
        <input value="{{bedrooms}}" type="number" name="bedrooms" id="bedrooms" placeholder="Bedrooms" />
    </div>

    <div>
        <label for="bed"> Bed </label>
        <input value="{{beds}}" type="number" name="bed" id="bed" placeholder="Bed" />
    </div>

    <div>
        <label for="baths"> Baths </label>
        <input value="{{baths}}" type="number" name="baths" id="baths" placeholder="Baths" />
    </div>

    <div>
        <label for="instant"> Instant Book Only? </label>
        <input type="checkbox" name="instant" id="instant" {% if instant %}checked{% endif %} />
    </div>

    <div>
        <label for="super_host">By Super Host Only? </label>
        <input type="checkbox" name="super_host" id="super_host" {% if super_host %}checked{% endif %} />
    </div>

    <div>
        <h3> Amenities </h3>
        <ul>
            {% for amenity in amenities  %}
            <li>
                <label for="amenity_{{amenity.pk}}"> {{amenity.name}} </label>
                <!-- 아래 value ={{amenity.pk}} 를 해줌으로써 사용자가 선택한 체크박스 목록이 무엇인지 그 목록들을 받아올 수 있음. 이게 없다면 amenity on/off 로 카테고리의 선택 유무만 알 수 있음-->
                <input type="checkbox" name="amenities" id="amenity_{{amenity.pk}}" value="{{amenity.pk}}"
                    {% if amenity.pk|slugify in selected_amenities %} checked {% endif %} />
                <!-- Wht is slugify (바로 위에 있음)??? 모든 것을 텍스트로 바꾸어 버리는 필터. 위의 if 문에서 selected_amenities는 str 이기때문에 비교를 위해 slugify 주었다.-->
            </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3> Facilities </h3>
        <ul>
            {% for facility in facilities  %}
            <li>
                <label for="facility_{{facility.pk}}"> {{facility.name}} </label>
                <input type="checkbox" name="facilities" id="facility_{{facilities.pk}}" value="{{facility.pk}}"
                    {% if facility.pk|slugify in selected_facilities %} checked {% endif %} />
            </li>
            {% endfor %}
        </ul>
    </div>

    <button> Search</button>
</form>

{% endblock content %}